* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://www.picsum.photos/300') no-repeat;
    background-size: cover;
    background-position: center;
}

button {
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.899);
    transition: 0.5s;
    transform: scaleY(1.1);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* margin: 10px; */
    border-radius: 5px;
    background: transparent;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    /* backdrop-filter: blur(30px); */
    background: #fff;
}

.container .one {
    background: url('https://www.picsum.photos/400') no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 650px;
    border-radius: 5px 0 0 5px;
}

.container .two {
    padding: 0 20px;
    width: 500px;
}

.container .two h1 {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 28px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.container .two .close-btn {
    position: absolute;
    top: 3%;
    right: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    /* background: rgba(12, 130, 181, 0.875); */
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: .2s ease;

}

.container .two .close-btn:hover {
    background-color: rgb(8, 62, 83);
    color: white;
    transform: scale(1.1);
    transition: .2s ease;
}

.form-box {
    width: 100%;
}

.form-box .box {
    width: 100%;
    border-radius: 10px;
}

label {
    display: block;
    /* margin-bottom: 10px; */
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    margin: 10px auto 10px;
    cursor: pointer;

}

.form-box {
    width: 100%;
    margin: 30px 0;
}

.inp {
    width: 100%;
    padding: 10px 10px 10px 35px;
    margin: 2px 0;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    margin: 30px 0;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    background-color: rgb(8, 62, 83);
    color: white;
    font-size: 17px;
}

.boxx .p {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    letter-spacing: 1px;
    cursor: pointer;

}

.boxx .p:hover {
    text-decoration: underline;
}

.middle::before,
.middle::after {
    content: "";
    height: 0.5px;
    background: #000;
    display: block;
    
}

button {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.406);
}

.box {
    position: relative;
}

.box i {
    position: absolute;
    top: 42px;
    left: 10px;
    font-size: 17px;
    cursor: pointer;
}

::placeholder {
    color: #000;
    font-size: 13px;
}

.box p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    letter-spacing: 1px;
    cursor: pointer;
}

p a {
    color: #000;
    text-decoration: none;
}

.box p a:hover {
    text-decoration: underline;
}

.para span {
    margin-top: 8px;
    font-size: 14px;
}

.socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socials div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 40px 0;
}

.socials div a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    text-decoration: none;
}

.socials div img {
    width: 50px;
    height: 30px;
    border-radius: 50%;
}

@media (max-width: 760px) {
    .popup {
        margin: 20px auto;
        width: 90%;
        /* margin: auto; */
    }

    .container .one {
        display: none;
    }

    .container .two {
        width: 100%;
        padding: 0 30px;
    }

    .socials {
        display: block;
    }

    .socials div {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px 20px;
        margin: 20px 0;
    }

    .socials div a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        text-decoration: none;
    }

    .container .two h1 {
        margin-top: 20px;
    }
}
